<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>ParkApp</title>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="red darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container black-text" href="" class="brand-logo">Parkapp - Dashboard</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/api/auth/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <% if (user.permission.permission == "Administrator") {%>
    <div class="container center">
      <div class="section">
        <div style="margin-left: 15rem;"class="row">
          <div class="col s10 m3">
            <div class="card">
              <div class="card-content black-text">
                <span class="card-title">Lista de usuário</span>
                <p>Demonstra todos os usuários cadastrados no sistema.</p>
              </div>
              <div class="card-action">
                <a href="#">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col s9 m3">
            <div class="card">
              <div class="card-content black-text">
                <span class="card-title">Controle</span>
                <p>Verifica todas as vagas disponíveis para os usuários.</p>
              </div>
              <div class="card-action">
                <a href="/spots">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col s9 m3">
            <div class="card">
              <div class="card-content black-text">
                <span class="card-title">Comentários</span>
                <p>Possui algum feedback. Por favor, compartilhe sua ideia</p>
              </div>
              <div class="card-action">
                <a href="#">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
  <% } else {%>
    <div class="container center">
      <div class="section">
        <div style="margin-left: 15rem;"class="row">
          <div class="col s9 m3">
            <div class="card">
              <div class="card-content black-text">
                <span class="card-title">Controle</span>
                <p>Verifica todas as vagas disponíveis para os usuários.</p>
              </div>
              <div class="card-action">
                <a href="/spots">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col s9 m3">
            <div class="card">
              <div class="card-content black-text">
                <span class="card-title">Comentários</span>
                <p>Possui algum feedback. Por favor, compartilhe sua ideia</p>
              </div>
              <div class="card-action">
                <a href="#">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
  <% } %>
  </div>
  <script src="https://www.gstatic.com/firebasejs/6.4.1/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>
